[user]
  name = Adrien Thiery
  email = adrien.thiery@osedea.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[push]
  default = current
[branch]
    autoSetupMerge = true
[core]
  excludesfile = ~/.gitignore
  editor = vim
  ignorecase = false
[alias]
  st = status
  ci = commit
  co = checkout
  cob = checkout -b
  pur = pull --rebase
  sth = stash
  sthp = stash apply
  stha = stash apply
  cm = commit -m
  cia = commit --amend
  br = branch
  brd = branch -D
  bra = branch -a
  ap = add -p
  fa = fetch --all
  clear = remote prune origin
  phf = push --force-with-lease

[init]
	templatedir = ~/.git-templates
